{% extends "base.html" %} 
{% load static from staticfiles %}
{% block staticos %}

{% endblock %}
{% block header %}
{% include "menu.html" %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Diseña tu menu</h1>
    </div>
  </div>
</div>
{% endblock %}
{% block contedor %}

<div class="container">
  <div class="row">
    
    <div class="col-sm-12 col-lg-12">
      <div id="row">
        <div class="col-sm-12 col-lg-12 no-padding">
        <div class="background" style="background-image: url('{{template.background.url}}');background-repeat: no-repeat;background-size: cover;background-position: center;">
          <video class="video" id="" preload="auto" src="http://newportbayproductions.com/htmlMenues/layouts/elegant/media/Cindy%20and%20Hector%20Wedding%20Highlight-HD.mp4" controls="controls" class="video" ></video>
          <div class="titulo-principal" ><h1>{{template.titulo_principal}}</h1></div>
          <div  class="fade-in Stage_Rectangle_1_id">
            <div class="iniciales">{{template.iniciales}}</div>            
            <div class="pull-right botones"><button class="boton-3">{{template.boton_3}}</button></div>
            <div class="pull-right botones"><button class="boton-2">{{template.boton_2}}</button></div>
            <div class="pull-right botones"><button class="boton-1">{{template.boton_1}}</button></div>
          </div>
        </div>
          
        </div>
        
      </div>
    </div>
  </div>
</div>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Copyright © newport Bay Productions. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
{% block adicional-scripts %}
<script>       
  $(".titulo-principal h1").css({
    'color':  '{{template.color_titulo}}'
  });
  $(".iniciales").css({
      'color':  '{{template.color_iniciales}}'
      });
  
  $(".boton-1").bind("click", function(e) {
    $(".video").get(0).play();
    $('.video').addClass("fade-in");
    $('.video').css("opacity", "1"); 
    
  });
</script>
{% endblock %}

